SitefinityWebApp/.nuget/NuGet.exe
SitefinityWebApp/AdminApp/*
SitefinityWebApp/App_Data/*
!SitefinityWebApp/App_Data/RadSpell/*
!SitefinityWebApp/App_Data/Sitefinity/WebsiteTemplates/*
!SitefinityWebApp/App_Data/Sitefinity/Configuration/StartupConfig.config
SitefinityWebApp/bin/*
SitefinityWebApp/obj/*
SitefinityWebApp/packages/*
SitefinityWebApp/ResourcePackages/Foundation/*
SitefinityWebApp/ResourcePackages/SemanticUI/*
SitefinityWebApp/.vs/
*.user
*.suo
*.Cache
*.lic
SitefinityWebApp/SitemapModuleSample.sln.GhostDoc.xml



